[package]
name = "wifi-commissioning-gatt-service"
version = "0.2.0"
authors = ["Roland Erk <roland.erk@conplement.de>"]
edition = "2018"
repository = "git@github.com:ICS-DeviceManagement/wifi-commissioning-gatt-service.git"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bluer = "0.10"
futures = "0.3"
tokio = { version = "1", features = ["io-std", "io-util", "rt-multi-thread", "process"] }
uuid = "0.8"
log = "0.4.*"
env_logger = "0.8"
wpactrl = "0.3.*"
enclose = "1.1.8"
regex = "1"
async-trait = "0.1.*"
clap = "3.0.0-beta.4"
sha3 = "0.9.*"
sd-notify = { version = "0.3.*", optional = true }

[build-dependencies]

[dev-dependencies]

[features]
systemd = ["sd-notify"]
